body {
  background-color: var(--main-theme-color);
  color: var(--main-theme-text-invert-color);
  margin-right: 15px;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body > * { width: 90%; }
a {
  color: #a73;
  text-decoration: none;
}
a:visited { color: #5d4f34 }
a:hover { text-decoration: underline; }
a.comments { color: #888; }
div.title {
  font-size: 1.2em;
  margin-bottom: 1em; padding-top: 1.5em;
}
pre { white-space: pre-line; }
.notes { margin-top: 2em; }

.feed-item {
  /* background: var(--main-theme-background-color); */
  padding: 0.1em;
  margin-bottom: 1em
}
.feed-item { margin-top: 0.25em; }
.feed-item .content {
  font-size: 0.8em;
  margin-top: 0.25em;
  display: flex;
  align-items: center;
}
.feed-item > a { color: #c6a769;}
.content span:first-child {
    color: #977f67;
}
.feed-item .content span + span { margin-left: 0.5em; }
.content > span+span:before {
    content: " | ";
    color: #666;
}
