:root {
	--dull: #525252;
	--purple-light: #a72aa7;
	--purple-dark: #271a22;
	--blue-light: #519aba;
	--blue-dark: #0c1629;
	--red-light: red;
	--red-dark: #ff000012;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #1c1c1c;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 5px;
	top: 2em;
	bottom: 0;
	color: #ccc;
}

.graph {
	flex: 1;
	width: 100%;
	background: #8080801a;
}
.graph + .graph {
	margin-top: 0.5em;
}
.graph > svg {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

text {
	fill: currentColor;
	font-size: 1.9em;
}

.line {
	fill: none;
	stroke: white;
	stroke-width: 1;
}

.axis path,
.axis line {
	fill: none;
	stroke: currentColor;
	color: currentColor;
	shape-rendering: crispEdges;
}

div .line { stroke: currentColor; }


div:nth-child(2),
div:nth-child(3),
div:nth-child(4) {
	color: var(--purple-light);
	background: var(--purple-dark);
}
div:nth-child(5) {
	color: var(--blue-light);
	background: var(--blue-dark);
}
div:nth-child(6) {
	color: var(--red-light);
	background: var(--red-dark);
}

.graph { position: relative; }
.graph:after { position: absolute; top: 0.5em; left: 1em; font-family: monospace; }
#reality:after { content: 'reality';}
#sensor1:after { content: 'sensor 1 - input + noise';}
#sensor2:after { content: 'sensor 2 - input + noise';}
#sensor3:after { content: 'sensor 3 - input + noise';}
#guess:after { content: 'kalman filter (sensor 1)';}
#error:after { content: 'diff between kalman and input';}

.collapse {
	height: 32px;
	display: block;
	overflow: hidden;
	flex: none;
}
.collapse svg { display: none; }

