body {
	margin: 2em; color: #ccc; font: 12px sans-serif;
	background: #222; display: flex; justify-content: center;
}
.container { width: 90%; }
a { color: #26a69a; }
.link { background: #111; padding: 0.5em 1em 1em; }
.link + .link { margin-top: 0.5em; }
.link .tags { color: #519aba; text-transform: uppercase; }
.link > div + div { margin-top: 1em; }
.link .date { color: #666; }
