
body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.game-board {
	display: grid;
	grid-template-rows: 33vw 33vw 33vw;
	grid-template-columns: 33vw 33vw 33vw;
}

.box {
	border: 5px solid white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: currentColor;
	font-size: 33vw;
	font-family: sans-serif;
}
.game-board .box:nth-child(3n) {
  border-right: 0;
}
.game-board .box:nth-child(-n+3) {
  border-top: 0;
}
.game-board .box:nth-child(-n+3) {
  border-top: 0;
}
.game-board .box:nth-child(n+7):nth-child(-n+10){
	border-bottom: 0;
}
.game-board .box:nth-child(1),
.game-board .box:nth-child(4),
.game-board .box:nth-child(7){
	border-left: 0;
}

.box:hover {
	background: #555;
}
.box.win {
	color: yellow;
}

.status {
	position: absolute;
	top: 17px;
	font-size: 2em;
	font-family: sans-serif;
}
