:root {
	--text-color: #666;
	--text-color-hover: #000000;
	--button-bg: transparent;
	--button-primary-bg: #00d6f3;
	--button-primary-bg-hover: #4deaff;
	--button-bg-hover: #e0e7f399;
	--button-bg-selected: #e2e8f6e6;
	--menu-bg: #f5fcff;
	--app-bar-bg: #00bcd4;
	--app-bar-icon-color: #9cecf6;
	--app-bar-text-color: white;
	--main-bg: Canvas;
}
@media (prefers-color-scheme: dark) {
	:root {
		--text-color: #aaa;
		--text-color-hover: #d7d7d7;
		--button-bg: transparent;
		--button-primary-bg: #383838;
		--button-primary-bg-hover: #666;
		--button-bg-hover: #eee2;
		--button-bg-selected: #aaa2;
		--menu-bg: #171717;
		--app-bar-bg: #242424;
		--app-bar-bg: #171717;
		--app-bar-icon-color: #00bcd4;
		--app-bar-text-color: #aaa;
		--main-bg: #171717;
	}
}

body {
	font-family: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	color: var(--text-color);
}

::placeholder {
	color: inherit;
	opacity: 0.8;
}

.fit-parent {
	width: 100%;
	height: 100%;
}
.flex {
	display: flex;
}
.alignCenter {
	align-items: center;
}
.justifyCenter {
	justify-content: center;
}

a {
	/* padding-top: 4px; */
	/* padding-bottom: 4px; */
	padding: 6px 10px;
	display: block;
	border-radius: 6px;
	box-sizing: border-box;
	cursor: pointer;
}
a.button {
	text-decoration: none;
}
a:hover {
	background-color: var(--button-bg-hover);
}
a.button.primary {
	background-color: var(--button-primary-bg);
}
a.button.primary:hover {
	background-color: var(--button-primary-bg-hover);
}

.menuItem {
	padding: 8px 10px 0px 10px;
}
.menuItem a {
	color: var(--text-color);
	width: 100%;
}
.menuItem a:hover {
	color: var(--text-color-hover);
}
.menuItem.selected a {
	background-color: var(--button-bg-selected);
}

.dropCap::first-letter {
	color: #3a80ae;
	padding-right: 10px;
	/* margin-top: -7px; */
	initial-letter: 2;
	font-family: fantasy;
}

.page {
	padding: 0px 3em 0px 2em;
	height: inherit;
	box-sizing: border-box;
}

.styledInput {
	background-color: var(--button-bg-hover);
	opacity: 0.6;
	/* background: transparent; */
	/* background-color: var(--button-primary-bg); */
	/* box-shadow: inset 0px 0px 3px black; */
	font-size: inherit;
	border: 0px solid;
	color: inherit;
	outline: 0;
	padding: 0.5em 1em;
	border-radius: 7px;
}
.styledInput:hover,
.styledInput:hover:focus {
	opacity: 1;
	background-color: var(--button-bg-hover);
}
.styledInput:focus {
	opacity: 1;
	background-color: var(--button-bg-selected);
}
